cosign.key
**/cosign.key
cache
_build_*
output
_build-*/**
*.img
*.raw
*.iso
mkosi.local/
mkosi.local.conf
mkosi.output/
mkosi.cache/
mkosi.tools/
mkosi.tools.manifest
mkosi.key
mkosi.crt
mkosi.version
mkosi.rootpw
.mkosi-private
*.efi
