name: stable

on:
  push:
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: debian:latest
      volumes:
        - /proc:/proc
      options: --privileged -i

    steps:
    - name: Clone build scripts
      uses: actions/checkout@v1

    - name: Build and upload stable .iso
      run: |
        mkdir /artifacts
        ./workflows.sh etc/terraform-juno-stable-azure.conf "${{ secrets.key }}" "${{ secrets.secret }}" "${{ secrets.endpoint }}" "${{ secrets.bucket }}"
